# Prime number generation using list comprehension - multiple ways

In [27]:
print([x for x in range(2,200) if not any([x%y == 0 for y in range(2,x)])])

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97, 101, 103, 107, 109, 113, 127, 131, 137, 139, 149, 151, 157, 163, 167, 173, 179, 181, 191, 193, 197, 199]

In [28]:
print([x for x in range(2,200) if not any(x%y == 0 for y in range(2,x))])

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97, 101, 103, 107, 109, 113, 127, 131, 137, 139, 149, 151, 157, 163, 167, 173, 179, 181, 191, 193, 197, 199]

In [20]:
print([x for x in range(2,200) if all(x%y !=0 for y in range(2,x))])

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97, 101, 103, 107, 109, 113, 127, 131, 137, 139, 149, 151, 157, 163, 167, 173, 179, 181, 191, 193, 197, 199]

In [21]:
print([x for x in range(2,200) if all(x%y !=0 for y in range(2,int(x/2)))])

[2, 3, 4, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97, 101, 103, 107, 109, 113, 127, 131, 137, 139, 149, 151, 157, 163, 167, 173, 179, 181, 191, 193, 197, 199]

In [23]:
print([x for x in range(2,200) if all(x%y !=0 for y in range(2,int(x**0.5)+1))])

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97, 101, 103, 107, 109, 113, 127, 131, 137, 139, 149, 151, 157, 163, 167, 173, 179, 181, 191, 193, 197, 199]

In [26]:
# print a perfect numbers till 10000 using list comprehension
print([x for x in range(1,10000) if sum(y for y in range(1,x) if x%y == 0) == x])

[6, 28, 496, 8128]

In [30]:
print([x for x in range(10)])

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [31]:
print(any(x==8 for x in range(10)))

True